{% extends "layout.html" %}
{% block title %}Ylläpito{% endblock %}
{% block content %}

{% if session.admin %}

<h2>Tuotteet:</h2>

{% if results %}
<table class="table">
    <thead>
        <tr>
            {% for col in columns %}
            <th scope="col">{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in results %}
        <tr>
            {% for element in row %}
            {% if element == "id" %}
            <th scope="row">id</th>
            {% else %}
            <td>{{ element }}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<h5>Ei tuotteita tietokannassa</h5>
{% endif %}
<br>

<h2>Lisää tuotteita menuun alla:</h2>

<!-- add_food section -->
<div class="container-sm">
    <form action="/add_food_item" method="POST">

        <label>Valitse tuotteen tyyppi:
            <div id="food_type" class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="food_type_selection"
                        value="food" id="food" checked>
                    <label class="form-check-label" for="food">
                        Ruoka
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="food_type_selection"
                        value="snacks" id="snacks">
                    <label class="form-check-label" for="snacks">
                        Snack
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="food_type_selection"
                        value="drinks" id="drinks">
                    <label class="form-check-label" for="drinks">
                        Juoma
                    </label>
                </div>
            </div>
        </label>

        <div class="col-5 mb-3">
            <label for="item_name" class="form-label">Tuotteen nimi:</label>
            <input type="text" class="form-control" name="item_name"
                aria-describedby="item_name_help" required>
            <div id="item_name_help" class="form-text">Kirjoita se lyhyesti ja ytimekkäästi.
                Esim."Juustowapper"</div>
        </div>

        <div class="col-5">
            <label class="mb-2" for="item_price">Tuotteen hinta:</label>
            <div class="input-group" id="item_price">
                <input type="text" class="form-control" name="item_price"
                    aria-describedby="item_price_help" required>
                <span class="input-group-text">€</span>
            </div>
            <div id="item_price_help" class="form-text">Kirjoita tuotteen hinta käyttäen pilkkua tai
                pistettä.
                Esim: 12,95</div>
        </div>

        <input type="submit" value="Tallenna">

    </form>
</div>

<!-- remove_food_item section -->
<h2>Poista tuotteita alla:</h2>

<div class="container-sm">
    <form action="/remove_food_item" method="POST" id="removeForm">
        <div class="col-5">
            <label class="mb-2" for="item_id">Tuote id:</label>
            <div class="input-group" id="item_id">
                <input type="number" class="form-control" name="item_id"
                    aria-describedby="item_id_help" required>
            </div>
            <div id="item_id_help" class="form-text">Syötä tuotteen id</div>
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#areyousure">
            Poista
        </button>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="areyousure" tabindex="-1" aria-labelledby="areyousureLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="areyousureLabel">Oletko varma?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Oletko varma että haluat poistaa tuotteen?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Poistu</button>
                <button type="button" class="btn btn-primary"
                    onclick="document.getElementById('removeForm').submit();">Poista</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('removeForm').addEventListener('keypress', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            var modal = new bootstrap.Modal(document.getElementById('areyousure'));
            modal.show();
        }
    });
</script>

{% else %}

<h2 class="error">Ei käyttöoikeuksia, palaa etusivulle yläpalkista.</h2>

{% endif %}

{% endblock %}