<h2>Mitä saisi olla?</h2>

<p>Valitse vaihtoehdoista:<br>
<!-- foodmenu section -->
<form action="/menu/food" method="POST">
    <input type="submit" value="Ruokavalikko"></p>
</form>
<!-- /foodmenu -->

<!-- snacksmenu section -->
<form action="/menu/snacks" method="POST">
    <input type="submit" value="Snacksvalikko"></p>
</form>
<!-- /snacksmenu -->

<!-- drinksmenu section -->
<form action="/menu/drinks" method="POST">
    <input type="submit" value="Juomavalikko"></p>
</form>
<!-- /drinksmenu -->

<!--! NEED TO ADD BUTTON FOR CANCELLATION -->
