{% extends "layout.html" %}
{% block title %}Päävalikko{% endblock %}
{% block content %}
  {% if session.logged_in %}
    {% if not session.admin %}
        <h2>Mitä saisi olla?</h2>
    {% elif session.admin %}
        <h2>Minkä kategorian ruokaesineitä haluat hallita?</h2>
    {% endif %}
    
    <p>Valitse vaihtoehdoista:<br>
    
      <form action="/menu/selection" method="POST">
        <!-- foodmenu section -->
        <input type="submit" value="Ruokavalikko" name="menu_type"></p>
        <!-- /foodmenu -->
    
        <!-- snacksmenu section -->
        <input type="submit" value="Snacksvalikko" name="menu_type"></p>
        <!-- /snacksmenu -->
    
        <!-- drinksmenu section -->
        <input type="submit" value="Juomavalikko" name="menu_type"></p>
        <!-- /drinksmenu -->
    </form>
  
  {% else %}
    <h2 class="error">Ette ole kirjautunut sisään, palaa etusivulle yläpalkista.</h2>
  {% endif %}
{% endblock %}