{% extends "layout.html" %}
{% block title %}Päävalikko{% endblock %}
{% block content %}
  {% if session.logged_in %}
    {% if not session.admin %}
        <h2>Mitä saisi olla?</h2>
    {% elif session.admin %}
        <h2>Minkä kategorian ruokaesineitä haluat hallita?</h2>
    {% endif %}
    
    <p>Valitse vaihtoehdoista:</p>
    <br>
    <form action="/menu/selection" method="POST">

      <!-- foodmenu -->
      <button name="menu_type" value="food" type="submit">Ruokavalikko</button>

      <!-- snacksmenu -->
      <button name="menu_type" value="snacks" type="submit">Snacksvalikko</button>

      <!-- drinksmenu -->
      <button name="menu_type" value="drinks" type="submit">Juomavalikko</button>
      
    </form>
  
  {% else %}
    <h2 class="error">Ette ole kirjautunut sisään, palaa etusivulle yläpalkista.</h2>
  {% endif %}
{% endblock %}