<form action="/pizzaresult" method="POST">
Valitse pizza:
<p>
<input type="radio" name="pizza" value="Frutti di Mare"> Frutti di Mare
<input type="radio" name="pizza" value="Margherita"> Margherita
<input type="radio" name="pizza" value="Quattro Formaggi"> Quattro Formaggi
<input type="radio" name="pizza" value="Quattro Stagioni"> Quattro Stagioni
<p>
Valitse lisät:
<p>
<input type="checkbox" name="extra" value="oregano"> oregano
<input type="checkbox" name="extra" value="valkosipuli"> valkosipuli
<p>
Erikoistoiveet: <br>
<textarea name="message" rows="3" cols="50"></textarea>
<p>
<input type="submit" value="Lähetä">
</form>